@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.1s;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 0s;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
